{% extends "base/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flask - Login{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>登入</h1>
</div>
<div class="col-md-6">
    {{ wtf.quick_form(form) }}<br><a href="{{ url_for('auth.register') }}">註冊</a> | <a href="{{ url_for('auth.password_reset_request') }}">忘記密碼</a>
</div>
{% endblock %}