{% extends "base/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flask - Register{% endblock %}



{% block page_content %}
<div class="page-header">
    <h1>註冊</h1>
</div>
<div class="col-md-6">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}