{% extends "base/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky - Unconfirmed{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}yourself{% endif %}!</h1>
    <h3>你尚未完成信箱驗證唷!</h3>
    <p>在你使用本網站之前，請先去信箱尋找驗證信，然後找找看信件裡的驗證連結，並且點擊它。</p>
    <br>
    <p>需要再寄一封驗證信嗎?<a href="{{ url_for('auth.resend_confirmation') }}">請點擊這裡</a>。</p>
</div>

{% endblock %}