{% extends "base/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flask - Change Profile{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>更改資料</h1>
</div>
<div class="col-md-6">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}