{% extends "base/base.html" %}
{% block title %}Flasky - User{% endblock %}

{% block page_content %}
<div class="page-header">
    <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
    <div class="profile-header">
        <h1>{{ user.username }}</h1>
        {% if user.name or user.location %}
            <p>
                {% if user.name %}{{ user.name }}{% endif %}
                <br>
                {% if user.location %}居住於<a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>
                {% endif %}
            </p>
        {% endif %}
        {% if current_user.is_administrator() %}
        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}
        {% if user.about_me %}
        <p>{{ user.about_me }}</p>
        {% endif %}
        <p>
            註冊時間:{{ moment(user.member_since).format('L') }}
            上次登入:{{ moment(user.last_seen).fromNow() }}
        </p>
        <p>{% if user == current_user %}
                <a class="btn btn-default" href="{{ url_for('main.edit_profile') }}">編輯個人資訊</a>
            {% endif %}
            {% if current_user.is_administrator() %}
                <a class="btn btn-danger" href="{{ url_for('main.edit_profile_admin', id=user.id) }}">編輯個人資訊 [Admin]</a>
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}