{% extends "base/base.html" %}
{% block title %}Flasky - 403 Forbidden{% endblock %}

{% block page_content %}
<div class="page-header" align="center">
    <h1>403 Forbidden</h1>
</div>
{% endblock %}