{% extends "base/base.html" %}
{% block title %}Flasky - 404 Not Found{% endblock %}

{% block page_content %}
<div class="page-header" align="center">
    <h1>404 Not Found</h1>
</div>
{% endblock %}