{% extends "base/base.html" %}
{% block title %}Flasky - 500 Internal Server Error{% endblock %}

{% block page_content %}
<div class="page-header" align="center">
    <h1>500 Internal Server Error</h1>
</div>
{% endblock %}