{% extends "base/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky - Home{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}yourself{% endif %}!</h1>
    <p>您上次載入的時間為 {{ moment(current_time).format('LLL') }}</p>
    <p>{{ moment(current_time).fromNow(refresh = True) }}...</p>
</div>

{% endblock %}